<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/raziy/IdeaProjects/TestNG3/src/Gun05/_01_Groups.java"><classes><class name="Gun05._01_Groups"><methods><include name="Test1"/><include name="Test3"/><include name="Test5"/><include name="Test2"/><include name="Test4"/><include name="Test6"/></methods></class></classes></test></suite>